body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:auto;
}

.rectangle{
    background-color: #152f67;
    padding: 5px;
    align-items: center; 
    border-bottom:20px solid white;    
}

.rectangle h6{
    font-size: 13px;
}

.rectangle h6{
    text-align: left;
    max-width: 700px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    margin-left: 5%;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 230, 255);
    width: 100vw;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0px 0px 5px 1px #00000029;
    margin-bottom: 20px;
}

.intro h1{
    color: #152f67;
    margin-bottom: 5px;
    text-shadow: 0 2px 2px rgba(53, 107, 222, 0.591);
}
.intro p{
    font-size: 16px;
}

p{
    font-size: small;
    line-height: 25px;
    text-align: center;
    max-width: 800px; 
}

.cuerpo h2 {
    font-size: 24px; 
    color: #152f67;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;  
    margin-bottom: 0;
    margin-top: 40px;
}

.cuerpo p {
    margin-top: 10px;
    align-items: center;
    font-size: 16px;
}

.cuerpo {
    display: flex;
    flex-direction: column; 
    max-width: 700px ;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.textos {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.plot-43f8a2afd9f15{
    margin: auto;
}


.chartdivs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "box1 box2";
    margin-bottom: 30px;
    
}

.chart1{
    grid-area: box1;
}
.chart2{
    grid-area: box2;
}

  .chartdivs p, .palermo p {
    font-size: 15px;
    color: #152f67;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }

#legend{
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

#barchart{
    margin-bottom: 10px;
}

  .map_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
    margin: auto;
  }
.palermo {
    display: grid;
    grid-gap: 0 10vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "box4 box5";
    margin-top: 10px ;
    margin-bottom: 30px;
}

.chart_p1{
  grid-area: box4;
}
.chart_p2{
  grid-area: box5;
}


.palermo p {
    font-size: 16px;
    margin: 0;
    color: #152f67;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }

footer{
    background-color: rgba(165, 184, 207, 0.604);
    margin-top: 50px;
    
}

.developers {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    max-width: 1050px;
    text-align: center;
    width: 100vw;
    margin: auto;
}

#dev {
    padding-top: 40px;
}

#met{
    padding-bottom: 40px;
    padding-top: 10px;
}

#fue{
    padding-top: 10px;
}

.github {
    width: 35px;
    padding-left: 30px;
    margin: 5px
  }


.policias {
    padding-left: 30px;
    margin: 10px
}

.rectangle2{
    background-color: #152f67;
    padding: 5px;
    align-items: center; 
}

