body{
    background-color: white;
    max-width: 700px;
    margin: auto;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #152f67;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 10px;
  }

.header .logo {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-decoration: none;
  margin-left: 30px;
  background-color: #152f67;
}

.github {
  width: 35px;
  padding: 0 7px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  margin-right: 20px;
  

}

.nav-items a {
  text-decoration: none;
  color: #152f67;
  padding: 2px 5px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.478) 0%, rgba(41, 29, 168, 0.273) 100%), url("material/police.jpeg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #152f67;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 0;
  padding: 0 10px;
  text-align: center;
  text-indent: 10px;
}



.intro button {
  background-color: #152f67;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  /* box-shadow: 0px 0px 20px #152f67 */
}


.blue_button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 29px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.blue_button:hover {
  background-color: rgb(210, 210, 210);
  color: #152f67;
  stroke: #152f67;
  stroke-width: 3;
}

.blue_button:active {
  background-color: #243d9f8f;
}


.chartdivs{
    /* height: 80vh; */
    display: grid;
    /* grid-template-rows: 50px 10px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "box1 box2 box3";
    
}

.chart1{
    grid-area: box1;
}
.chart2{
    grid-area: box2;
}
.chart3{
    grid-area: box3;
} 

  .chartdivs p, .palermo p {
    font-size: 15px;
    color: #152f67;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
 
h2 {
  font-size: 18px;
    color: #152f67;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* margin: 0; */
}
.palermo {
    display: grid;
    grid-gap: 0 25vh;
    /* grid-template-rows: 50px 10px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "box4 box5 box6";
}

.chart_p1{
  grid-area: box4;
}
.chart_p2{
  grid-area: box5;
}
.chart_p3{
  grid-area: box6;
} 

.textos {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}


  #box1, #box2, #box3 {
    height: 5px;
}    



/* Cosas a hacer
  - arreglar las escalas de los mapas de los 3 años
  - centrar la leyenda de los mapas de los 3 años
  - ordenar los meses del grafico de barras
  - arreglar las barras

*/