body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* max-width: 800px; */
    margin:auto;
}

.rectangle{
    background-color: #152f67;
    /* width: 10px; */
    padding: 5px;
    width: 100% !important;
    align-items: center;
      
}

.rectangle h6{
    text-align: left;
    max-width: 700px;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 5px;
    color: white;
    margin-left: 5%;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 230, 255);
    width: 100vw;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.intro h1{
    color: #152f67;
    margin-bottom: 5px;
}

p{
    font-size: small;
    line-height: 25px;
    text-align: center;
    max-width: 800px;
}

.mySlides {
    display:none
}
.w3-tag, .fa {
    cursor:pointer
}
.w3-tag {
    height:15px;
    width:15px;
    padding:0;
    margin-top:6px
}

.w3-container{
    max-width: 800px;
    margin: auto;
    width: 800px;
    
}

.w3-display-container mySlides{
    overflow: hidden;
}