body{
    background-color: white;
  }


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #152f67;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

.header .logo {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-decoration: none;
  margin-left: 30px;
  background-color: #152f67;
}

.github {
  width: 35px;
  padding: 0 7px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
  

}

.nav-items a {
  text-decoration: none;
  color: #152f67;
  padding: 2px 5px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url("material/michael-fortsch-y5LaV9IEC_g-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #152f67;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 15px;
  color: #555454;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 0;
}

.intro button {
  background-color: #152f67;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  /* box-shadow: 0px 0px 20px #152f67 */
}


.blue_button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 29px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.blue_button:hover {
  background-color: rgb(210, 210, 210);
  color: #152f67;
  stroke: #152f67;
  stroke-width: 3;
}

.blue_button:active {
  background-color: #243d9f8f;
}


.chartdivs{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "box1 box2 box3";
    
}

.chart1{
    grid-area: box1;
}
.chart2{
    grid-area: box2;
}
.chart3{
    grid-area: box3;
} 

  .chartdivs p {
    font-size: 18px;
    color: #152f67;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  .chart1 legend{
    align-items:center;
    padding-left: 5px;
    background-color: green;
  }

  /* #plot1, #plot2, #plot3 {
    width: 100%;
    height: 300px;
}     */

/* Cosas a hacer
  - arreglar las escalas de los mapas de los 3 años
  - centrar la leyenda de los mapas de los 3 añoa
  - hacer el dotgraph de las ciudades con mas inseguridad 

*/